body{
	margin: 2px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:px;
    width:90px;
    float:left;
    padding:10px;	      
}
.navbar-default{
	background-color:#2F4F4F;
}
.jumbotron{
	background: url('../img/prback.png')no-repeat;
  background-position: right;
}
.mycontent.panel-heading{
	margin: 0px;
    background: url('../img/colorx.jpg')no-repeat;
}
#content:{
background: url('../img/back.jpg')no-repeat;
  background-position: right;
}