/*style sheet*/
.container{
 width:;
 min-height:100%;
}

#navbar{
	margin-top: 0px;
	width:15%;
	min-height:350px;
	background-color:#000;
	float: right;  

}
.column{
	margin-top: 0px;
	width:70%;
	background-color:#090;
	min-height:350px; 
	float:right;
}
.aside{
	width: 15%;
	margin-top: 0px;
	background-color: #999;
	min-height:350px;
}
.footer{
	padding:10px;
	background-color:#eee;
	overflow:hidden;   
}
.navbar-default{
	margin-bottom: 0px;
}